doctype html
html
  head
    title=API_Aseguramiento
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="/bootstrap-4.3.1-dist/css/bootstrap.min.css")

    script(src="/jquery/jquery-3.3.1.min.js")
    script(src="/bootstrap-4.3.1-dist/js/bootstrap.min.js")
  body

    include ./nav/nav
    
    block content
