
nav.navbar.navbar-expand-md.navbar-light(style="background-color: #e3f2fd;")
	a.navbar-brand(href='/') Navbar
	button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
		span.navbar-toggler-icon
	#navbarSupportedContent.collapse.navbar-collapse
		ul.navbar-nav.mr-auto
			li.nav-item.active
				a.nav-link(href='#')
					span.sr-only (current)
			li.nav-item
				a.nav-link(href='/') Home
			li.nav-item
				a.nav-link(href='/auth/dashboard') Dashboard
			if !isAuthenticated
				li.nav-item
					a.nav-link(href='/auth/signUp') Registrarse
				li.nav-item
					a.nav-link(href='/auth/signIn') Ingresar
			li.nav-item
				a.nav-link(href='/auth/logout') Salir
